:root {
    --baseColorWhite: #fff;
    --baseColorGold: gold;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    min-height: 70px;
    background-color: rgb(57, 56, 56);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    box-sizing: border-box;
}

#allContents,
#myposts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ownerName {
    /* color: #fff; */
    color: var(--baseColorGold);
}

.ownerNameAnim {
    transition: transform 0.3s;
    cursor: pointer;
}

.ownerNameAnim:hover {
    transform: scale(1.2);
}

.nameAnim {
    transition: transform 0.3s;
}


.like_dislike {
    display: flex;

}

.like {
    margin-right: 25px;
    color: var(--baseColorWhite);
    /* transition: transform 0.2s; */
}

.like:hover {
    color: var(--baseColorGold);
    cursor: pointer;
    /* transform: scale(1.1); */
}

.likeCount {
    margin-left: 6px;
    color: var(--baseColorWhite);
}

.postUpdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.updateIcon {
    color: var(--baseColorWhite);
    /* position: absolute; */
    /* right: 10px; */
    transition: transform 0.3s;
}

.updateIcon:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.title {
    color: var(--baseColorWhite);
    font-size: 1.3rem;
    white-space: pre-wrap;
}

.createdAt {
    color: var(--baseColorWhite);
}

.icon-update-delete {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.icon-update-delete .fa {
    margin-right: 25px;
    font-size: 1.2rem;
    color: var(--baseColorWhite);
    transition: transform 0.2s;
}

.icon-update-delete .fa:hover {
    transform: scale(1.6);
}

.noPostFound {
    color: var(--baseColorWhite);
}

.commentBox {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.comment {
    color: var(--baseColorWhite);
    font-size: 1.2rem;
    text-decoration: none;
}

.comment:hover {
    color: var(--baseColorGold);
}

#singlePostWithComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}


.commentBoxAll {
    background-color: rgb(78, 77, 77);
    box-sizing: border-box;
    border-radius: 10px;
}

.commentBoxSingle {
    background-color: rgb(123, 121, 121);
    padding: 5px 10px;
    margin: 4px 0px;
    width: 50%;
    box-sizing: border-box;
    border-radius: 10px;
}

.comment-heading-div {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.comment-heading {
    color: rgb(50, 49, 49);
}

.commentCount {
    color: #fff;
    margin-left: 20px;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .commentContainer {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 1024px) {
    .commentBoxAll {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .commentBoxAll {
        width: 50%;
    }
}