body {
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    min-height: 70px;
    background-color: rgb(57, 56, 56);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    box-sizing: border-box;
}

#allContents,
#myposts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ownerName {
    /* color: #fff; */
    color: gold;
}

.ownerNameAnim {
    transition: transform 0.3s;
    cursor: pointer;
}

.ownerNameAnim:hover {
    transform: scale(1.2);
}

.nameAnim {
    transition: transform 0.3s;
}


.like_dislike {
    display: flex;

}

.like {
    margin-right: 25px;
    color: #fff;
}


.likeCount {
    margin-left: 6px;
    color: #fff;
}

.postUpdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.updateIcon {
    color: #fff;
    /* position: absolute; */
    right: 10px;
    transition: transform 0.3s;
}

.updateIcon:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.title {
    color: #fff;
    font-size: 1.3rem;
}

.createdAt {
    color: #fff;
}