<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <nav class="nav">
        <div class="logo">LOGO</div>
        <ul class="nav-lists">
            <li class="nav-list-item active" onclick="goTo(this)"><a href="/users/me">Home</a></li>
            <li class="nav-list-item user-name">
                <a href="#">New</a>
                <div class="dropMenu" onclick="goTo(this)">
                    <a href="/users/newpost">New Post</a>
                </div>
                <div class="dropMenu findFirend">
                    <a href="#">Find Friend</a>
                </div>
                <div class="dropMenu logout" onclick="goTo(this)">
                    <a href="/users/mypost">My Post</a>
                </div>
                {{!-- <div class="dropMenu logoutAll">
                    <a href="/users/logoutAll">Logout All</a>
                </div> --}}
            </li>
            <li class="nav-list-item user-name">
                <a href="/users/me">{{name}}</a>
                <div class="dropMenu" onclick="goTo(this)">
                    <a href="/users/update">Update Info</a>
                </div>
                <div class="dropMenu deleteAccount" onclick="goTo(this)">
                    <a href="/users/delete">Delete Account</a>
                </div>
                <div class="dropMenu logout" onclick="goTo(this)">
                    <a href="/users/logout">Logout</a>
                </div>
                <div class="dropMenu logoutAll" onclick="goTo(this)">
                    <a href="/users/logoutAll">Logout All</a>
                </div>
            </li>
            {{!-- <li class="nav-lists-item"></li> --}}
        </ul>
        <div class="nav-toggle">
            <i class="fa fa-bars" style="color: #fff; font-size: 40px" aria-hidden="true"></i>
        </div>
    </nav>

    <div class="nav-side-box">
        <p class="cross-nav">
            <i class="fa fa-times cross-nav-sign" style="color: #fff; font-size:28px" aria-hidden="true"></i>
        </p>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="/users/mypost">{{name}}</a>
        </div>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="/users/me">Home</a>
        </div>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="/users/newpost">New Post</a>
        </div>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="#">Find Friend</a>
        </div>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="/users/update">Update Info</a>
        </div>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="/users/delete">Delete Account</a>
        </div>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="/users/logout">Logout</a>
        </div>
        <div class="nav-side_item" onclick="goTo(this)">
            <a href="/users/logoutAll">Logout All</a>
        </div>
    </div>
</header>
<script src="/js/navToggle.js"></script>