<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>User Login</title>
</head>

<body>
    <div class="loginRedirectLink">
            <a href="/users/signup">Create Account</a>
    </div>
    {{#if error}}
    {{!-- class="message" --}}
    <div class="error-box">
        <p class="error-message-login">{{error}}</p>
    </div>
    {{/if}}
        <form action="/users/login" method="post"  class="form-login">
            <div class="form-div">
                <h1 class="user-login-text">Login User</h1>
            </div>
            <div class="form-div">
                {{!-- <label for="emailLogin">Email address</label> --}}
                <input type="email" name="email" autofocus class="inputBox email" id="emailLogin" placeholder="Enter email">
            </div>
            <div class="form-div">
                {{!-- <label for="passwordLogin">Password</label> --}}
                <input type="password" name="password" class="inputBox password" id="passwordLogin" placeholder="Password">
            </div>
            <div class="form-div">
                <button type="submit" class="submitBtn">Login</button>
            </div>
            
        </form>

</body>

</html>