<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>User Login</title>
</head>

<body>
    {{>header}}
    <form action="/posts" method="post" class="form-login">
        <div class="form-div"><h1 class="user-login-text">New Post</h1></div>
        <div class="form-div">
            {{!-- <label for="emailLogin">Email address</label> --}}
            <textarea type="text" name="title" autofocus 
                class="inputBox postBox" cols="10" placeholder="Type here"></textarea>
        </div>
        <div class="form-div">
            <button type="submit" class="submitBtn">Uplaod</button>
        </div>
    </form>
</body>

</html>