<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon-2.png">
    <title>Update Post</title>
    <style>
        .form-div textarea {
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    {{>header}}
    <form action="/posts/{{id}}?_method=PATCH" method="post" _method="patch" class="form-login">
        <div class="form-div">
            <h1 class="user-login-text">Update Post</h1>
        </div>
        <div class="form-div">
            <textarea type="text" name="title" autofocus class="inputBox postBox" cols="10"
                placeholder="Type here">{{title}}</textarea>
        </div>
        <div class="form-div">
            <button type="submit" class="submitBtn">Update</button>
        </div>
    </form>

    <script>
        const textarea = document.querySelector(".inputBox");
        len = textarea.value.length;
        textarea.setSelectionRange(len, len);
    </script>
</body>

</html>