<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Update Your Profile</title>
</head>

<body>
    {{>header}}
    <form action="/users/me?_method=PATCH" method="post" _method="Patch" class="form-login">
        <div class="form-div">
            <h1 class="user-login-text">Update User</h1>
        </div>
        <div class="form-div">
            <input type="text" name="name" autofocus value="{{name}}" class="inputBox" placeholder="Enter Name"
                required>
        </div>
        <div class="form-div">
            <input type="email" name="email" class="inputBox" value="{{email}}" placeholder="Enter email" required
                readonly>
        </div>
        <div class="form-div">
            <input type="password" name="password" class="inputBox" placeholder="Password" required>
        </div>
        <div class="form-div">
            {{!-- <label for="gender">Gender</label> --}}
            <select name="gender" id="gender" class="genderBox" required>
                <option class="gender_opt">Select Gender</option>
                <option class="gender_opt" value="1" {{#if male}} selected {{/if}}>Male</option>
                <option class="gender_opt" value="-1" {{#if female}} selected {{/if}}>Female</option>
                <option class="gender_opt" value="0" {{#if other}} selected {{/if}}>Other</option>
            </select>
        </div>
        <div class="form-div">
            <button type="submit" class="submitBtn">Update</button>
        </div>
    </form>

    <script src="/js/index.js"></script>
</body>

</html>